%h1 Listing payment_types

%table{class: "table table-striped table-bordered"}
  %thead
    %tr
      %th Payment Type
      %th Operations

  %tbody
    - @payment_types.each do |payment_type|
      %tr
        %td= link_to payment_type.name, edit_payment_type_path(payment_type)
        %td
          = link_to 'X', payment_type, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-mini btn-danger" 

%br

= link_to 'New', new_payment_type_path, class: "btn btn-primary"